.content {
    margin: 16px;
    background-color: #FFF;
    color: black;
}

.header {
    background-color: purple;
    color: #fff;
}

.example-spacer {
    flex: 1 1 auto;
}

.header a, .header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-bottom: 7px;
    color: #fff;
}

.title-group {
    padding-left: 25px;
    color: #fff;
}

.header .title-group i {
    padding-right: 10px;
}

.login {
    margin-right: 5vh;
}