form {
    display: flex;
    flex-direction: row;
}

.item-card:hover {
    transform: scale(1.02);
}

.example-spacer {
    flex: 1 1 auto;
}

::ng-deep .mat-card-header-text {
    margin: 18px 0 0 0 !important;
}

.card-container {
    border-radius: 10px;
    position: relative;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

.flex-item {
    padding: 10px;
    margin-right: 20px;
    flex: 50%;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

.mat-form-field {
    margin-right: 30px;
}

table {
    width: 100%;
    text-align: center;
}

.example-container {
    height: 70vh;
    overflow: auto;
}

.edit {
    margin-right: 50%;
}

.delete {
    margin-right: 60%;
}

.edit>i {
    color: #d9cd26;
}

.delete {
    margin-right: 10px;
}

.delete>i {
    color: #e35e6b;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-card {
    margin-bottom: 10px;
}

.not-found {
    text-align: center;
}

.preco-avista {
    font-size: large;
    color: #0000008a;
    padding-bottom: 3px;
}

.preco-parcelado {
    font-size: small;
    color: #0000008a;
    padding-bottom: 3px;
}

hr {
    width: 100%;
}