<mat-card>
    <mat-card-title>Novo Vinho</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Titulo *" [(ngModel)]="wine.title" name="title">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Resumo *</mat-label>
            <textarea matInput [(ngModel)]="wine.summary" name="summary"></textarea>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Desenvolvedor *" [(ngModel)]="wine.developer" name="developer">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Gênero *</mat-label>
            <mat-select [(ngModel)]="wine.genre" name="genre">
                <mat-option *ngFor="let genre of genres" [value]="genre">
                    {{ genre }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Console *</mat-label>
            <mat-select [(ngModel)]="wine.type" name="type">
                <mat-option *ngFor="let type of types" [value]="type">
                    {{ type }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- Image Upload Field -->
        <mat-label>Imagem (OBS: apenas imagem menores que 1MB serão aceitas)</mat-label>
        <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile"
            accept="image/*" />
        <img [src]="wine.imgPath" height="200" *ngIf="wine.imgPath">
    </form>
    <button mat-raised-button (click)="createWine()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>